<%- include("./partials/_header") -%>

<div class="container-content">
  <% if (locals.user) { %>
  <h1>Profil de <%= user.firstname %></h1>
  <p><span class="bold">Prénom :</span> <%= user.firstname %></p>
  <p><span class="bold">Nom :</span> <%= user.lastname %></p>
  <p><span class="bold">Email :</span> <%= user.email %></p>
  <div class="container-btn">
    <a href="/">
      <button class="back-btn btn">Retour</button>
    </a>
  </div>
  <% } else { %>
  <h1>Impossible de charger la page.</h1>
  <% } %>
</div>

<%- include("./partials/_footer") -%>