<%- include("./partials/_header") -%>

<div class="container-content">
  <h1>Réinitialisation du mot de passe</h1>
  <% if (locals.errMessage) { %>
    <p class="error-message"><%= errMessage %></p>
  <% } %>
  <form action="/users/reset-password/<%= userId %>/<%= passwordToken %>" method="POST">
    <div class="container-form">
      <label for="password">Mot de passe:</label>
      <div class="container-password">
        <input type="password" required="" name="password" id="password">
        <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
      </div>
      <div class="container-btn">
        <a href="/">
          <input class="btn" type="button" value="Retour">
        </a>
        <input class="btn" type="submit" value="Valider">
      </div>
    </div>
  </form>
</div>

<script src="/js/password-eye.js" charset="utf-8"></script>

<%- include("./partials/_footer") -%>