<%- include("./partials/_header") -%>

<div class="container-content">
  <h1>Connexion</h1>
  <% if (locals.successMessage) { %>
    <p class="success-message"><%= successMessage %></p>
  <% } else if (locals.errMessage) { %>
    <p class="error-message"><%= errMessage %></p>
    <% if (locals.url) { %>
      <a class="text-blue" href="<%= url %>">Renvoyer l'email</a> 
    <% } %>
  <% } %>
  <form action="/users/signin" method="POST">
    <div class="container-form">
      <label for="email">Adresse email:</label>
      <input type="email" name="email" id="email">
      <label for="password">Mot de passe:</label>
      <input type="password" name="password" id="password">
      <a class="text-blue" href="/users/lost-password">Mot de passe oublié ?</a>
      <div class="container-btn">
        <a href="/">
          <input class="btn" type="button" value="Retour">
        </a>
        <input class="btn" type="submit" value="Valider">
      </div>
    </div>
  </form>
</div>

<%- include("./partials/_footer") -%>